body {
    background-image: linear-gradient(to bottom, #0e1d2ed5 5%, #1513a3);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    background-image: url(pattern.png);
    border-radius: 10px;
    width: 750px;
    padding: 5x;
    margin: auto;
    box-shadow: 5px 5px 15px #25303bbe;
}

h1{
    color: #dde0ee;
    text-align: center;
}

h2 {
    color: #c6cceb;
    text-shadow: #060a1dc7;
    text-align: center;
}

h3 {
    color: #d8d8f0;
    text-align: center;
}

h4 {
    color: #e2e4f0;
    font: size 26px;
    text-align: center;
    border-radius: 20%;
}


img {
    position: relative;
    margin-left: 35%;
    border-color: #010307;
    border-radius: 10%;
}


.social_links img{
    width: 30px;
    height: auto;
 
    
    align-items: center;
    margin-bottom: 1rem;
    margin-top:  1rem;
    margin-left: 10rem;
}

p {
    text-align: end;
    font-size: 10px;
    position: relative;
    margin-right: 5%;
}